:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc107;
    --whiteColor: #fff;
    --blackColor: #222;
    --softGreenColor: #d9f2ee;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
    --highlightColor: #ffeb3b;
    --highlightTextColor: #000000;
    --tableHeaderBgColor: #f4f4f4; /* Light gray background for the table header */
    --tableHeaderTextColor: #333; /* Dark text color for contrast */
    --borderColor: #ddd; /* Light gray border color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

.sidebar-menus {
    display: flex;
    flex-direction: column;
}

.sidebar-menus a,
.sidebar-logout a {
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menus a ion-icon,
.sidebar-logout a ion-icon {
    font-size: 20px;
}

.sidebar-menus a:hover,
.sidebar-logout a:hover {
    background-color: var(--secondaryColor);
    border-radius: 50px;
}

/* Highlight active item */
.sidebar-menus a.active {
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
    border-radius: 50px;
}

.main {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreenColor);
    margin-left: 250px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* will hide menu toggle first, this one will appear on mobile screen Later*/
.menu-toggle {
    display: none;
}

.search {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteColor);
    border-radius: 20px;
    border-top: black;
}

.search input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.search-btn {
    background-color: var(--secondaryColor);
    color: var(--blackColor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
}
.hidden {
    display: none;
}
.search:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-btn:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart,
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    font-size: 20px;
    color: var(--blackColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;
}

.cart:hover,
.user:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-highlight {
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondaryColor);
    border-radius: 8px;
}

.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 20px;
}

.main-arrow {
    font-size: 24px;
}

.back,
.next {
    cursor: pointer;
}

.back:hover,
.next:hover {
    color: var(--primaryColor);
}

.highlight-wrapper {
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: auto; /* Enable horizontal scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
}

.highlight-card {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--greyColor);
    cursor: pointer;
}

.highlight-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.highlight-desc h4 {
    color: var(--primaryColor);
}

.highlight-desc p {
    color: var(--blackColor);
    font-size: 13px;
}

.highlight-card:hover {
    background-color: var(--whiteColor);
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

.main-menus {
    min-height: 100%;
    background-color: var(--greyColor);
    padding: 2%;
    border-radius: 8px;
}

.main-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.back-menus,
.next-menus {
    cursor: pointer;
}

back-menus:hover,
.next-menus:hover {
    color: var(--primaryColor);
}

.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;
}

.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border-radius: 8px;
    border: 1px solid var(--softGreenColor);
    font-size: 14px;
    cursor: pointer;
}

.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30px;
    background-color: var(--softGreenColor);
    color: var(--primaryColor);
    border-radius: 8px;
}

.filter-card:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.filter-card:hover .filter-icon {
    background-color: var(--whiteColor);
}

.divider {
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: var(--primaryColor);
    border: none;
}

.main-detail {
    margin: 1rem 0 1.5rem 0;
}

.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 1rem;
    gap: 2%;
    border-radius: 8px;
}

.detail-card {
    min-height: 280px;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: 8px;
    margin: 1% 0;
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.detail-img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
}

.detail-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3%;
    width: 100%;
}

.detail-sub {
    font-size: 12px;
    color: var(--darkGreyColor);
    letter-spacing: 0.5px;
    margin: 1% 0;
}

.price {
    color: var(--primaryColor);
}

.detail-favorites {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: white;
    cursor: pointer;
    color: #ffc107;
    border-radius: 6px;
    transition: color 0.3s ease;
}
.detail-delete {
    font-size: 24px;
    position: absolute;
    top: 10px;
    background: white;
    cursor: pointer;
    border-radius: 6px;
    color: red;
    transition: color 0.3s ease;
}

.detail-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.detail-card:hover .detail-img {
    filter: opacity(1);
}

.detail-card:hover .detail-name h4 {
    color: var(--primaryColor);
}

.detail-card:hover .price {
    letter-spacing: 1.5px;
}
.detail-desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detail-name {
    flex: 1;
}

.main-title {
    margin-bottom: 20px;
}
/* mobile view */
@media screen and (max-width: 640px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
        text-decoration: none;
        font-size: 20px;
        background-color: var(--whiteColor);
        color: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border-radius: 50%;
        z-index: 3;
    }

    .sidebar.active {
        display: flex;
        z-index: 10;
    }
}

@media (max-width: 1152px) {
    .detail-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row for medium screens */
    }
}

@media (max-width: 480px) {
    .detail-wrapper {
        grid-template-columns: 1fr;
        /* 1 card per row for small screens */
    }
}

/* Responsive adjustments for fewer cards */
@media (max-width: 1024px) {
    .detail-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        /* Adjust columns based on available space */
    }
}

.adminPopup {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    width: 300px;
    padding: 20px;
}

.adminPopup-content {
    padding: 10px;
}

.adminPopup .adminClose {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.addBody {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
}

.form-wrapper h2 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.add-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #218838;
}

/* Custom styles */

.product-list-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--borderColor); /* Ensure borderColor is defined in your variables */
    border-radius: 10px;
    background-color: var(
            --whiteColor
    ); /* Ensures the card has a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    overflow: hidden; /* Ensures rounded corners for internal elements */
}

.prod-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 1rem;
}

.add-product-btn {
    background-color: var(--secondaryColor);
    color: var(--blackColor);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-product-btn:hover {
    background-color:var(--primaryColor);
    color: #fff;
}
.product-listing {
    padding: 2rem;
}

/* Remove borders and color from table header and cells */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}


table th,
table td {
    border: none; /* Remove borders */
    padding: 1rem;
    text-align: left;

}

table th {

    color: #000; /* Adjust text color if needed */
    background: #007bff;
}



table img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}
table thead {
    color: #f8f9fa; /* Light grey background color */
    background-color: #343a40; /* Dark text color for contrast */

}

table thead th {
    padding: 10px; /* Add padding for better readability */
}

/* Modal Styles */

.modal {
    display: none;
    position: fixed;
    /*z-index: 1050;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
            0,
            0,
            0,
            0.5
    ); /* Adjusted for a more Bootstrap-like backdrop */
}

.modal-content {
    background-color: #fff;
    margin: 1.75rem auto; /* Responsive margin for better centering */
    padding: 1.5rem;
    border: 1px solid #dee2e6; /* Bootstrap border color */
    border-radius: 0.3rem; /* Bootstrap border-radius */
    max-width: 500px;
}

.close {
    color: #000;
    position: absolute;
    top: 0; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 1.5rem; /* Adjusted to Bootstrap font size */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0056b3; /* Bootstrap primary color for hover/focus */
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-top: 1rem;
}

.modal-content form input,
.modal-content form textarea {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
}

.modal-content form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #2c3034;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color:var(--primaryColor);
    color: #fff;
}


.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}
/*---Contact Us----*/
.comments-section {

    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.comments-section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.comment-box {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #555;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.comment-date {
    font-size: 0.85em;
    color: #aaa;
}

.comment-status {
    font-size: 0.85em;
    color: #fff;
    background-color: #FF6347;
    padding: 5px 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.status-new {
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
}

.status-new {
    background-color: #FF6347;
}


.status-replied {
    background-color: green;
}

.comment-text {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    padding: 10px 0;
    border-left: 3px solid #ffc107;
    padding-left: 15px;
}

.reply-button {
    align-self: flex-start;
    background-color: black;
    color: white;
    border: 2px solid #ffc107;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.reply-button:hover {
    background-color: #ffc107;
    color: black;
    border: 2px solid black;
}

.reply-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 0 70px;
}

.reply-form textarea {
    width: 100%;
    min-height: 55px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    resize: vertical;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.send-reply {
    align-self: flex-start;
    background-color: #28A745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-reply:hover {
    background-color: #218838;
}
/*admin view bill*/
.invoice-body {
    margin: 0;
    padding: 20px;
}
.invoice-container {
    background-color: #ffffff;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e1e5ee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.invoice-header h1 {
    font-size: 2.5em;
    color: #3498db;
    margin: 0;
}

.invoice-header .invoice-date {
    font-size: 1.1em;
    color: #7f8c8d;
}

.customer-details {
    margin-bottom: 30px;
}

.customer-details h3 {
    font-size: 1.4em;
    color: #2980b9;
    margin-bottom: 10px;
}

.customer-details p {
    margin: 5px 0;
    font-size: 1.1em;
}

.invoice-table-wrapper {
    max-height: 300px; /* Limit height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 30px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table th, .invoice-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e1e5ee;
}

.invoice-table th {
    background-color: #8f9632;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    font-weight: 500;
}

.invoice-table td {
    color: #34495e;
}

.invoice-footer {
    text-align: right;
    margin-top: 30px;
    font-size: 1.4em;
    color: #e74c3c;
}

.invoice-footer p {
    margin: 0;
}

.invove-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.invove-modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 870px;
    position: relative;
    overflow: hidden;
}

.invove-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.invove-close-btn:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .invoice-container {
        padding: 20px;
    }

    .invoice-header h1 {
        font-size: 2em;
    }

    .customer-details h3 {
        font-size: 1.2em;
    }

    .invoice-table th, .invoice-table td {
        padding: 8px;
    }

    .invoice-footer {
        font-size: 1.2em;
    }
}