<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link href="../../static/css/Styles.css" th:href="@{/css/Styles.css}" rel="stylesheet"/>
    <title>Restaurant</title>
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Logo -->
    <h1 class="logo">ABC Restaurant</h1>
    <!-- List of menus -->
    <div class="sidebar-menus">
        <a href="adminHome.html" th:href="@{/admin/adminHome}"><ion-icon name="storefront-outline"></ion-icon>Home</a>
        <a href="productsPage.html" th:href="@{/admin/productsPage}"><ion-icon name="pizza-outline"></ion-icon>Products</a>
        <a href="Inquiry.html" th:href="@{/admin/Inquiry}"><ion-icon name="notifications-outline"></ion-icon>Inquiry</a>
        <a href="reservations.html" th:href="@{/admin/reservations}"><ion-icon name="calendar-outline"></ion-icon>Reservation</a>
        <a href="locations.html" th:href="@{/admin/locations}"><ion-icon name="location-outline"></ion-icon>Locations</a>
        <a  href="Services.html" th:href="@{/admin/Services}"><ion-icon name="construct-outline"></ion-icon>Service</a>
        <a  href="gallery1.html" th:href="@{/admin/gallery1}"><ion-icon name="image-outline"></ion-icon>Gallery</a>
        <a class="active"  href="ImageCards.html" th:href="@{/admin/ImageCards}"><ion-icon name="image-outline"></ion-icon>Images</a>
        <a href="profile.html" th:href="@{/admin/profile}"> <ion-icon name="person-outline"></ion-icon>Account</a>
        <a href="#"><ion-icon name="receipt-outline"></ion-icon>Reports</a>
    </div>
    <!-- Logout -->
    <div class="sidebar-logout">
        <form action="/logout" method="get">
            <a href="#" onclick="confirmLogout(event)">
                <ion-icon name="log-out-outline"></ion-icon>
                Logout</a>
        </form>
    </div>
</div>

<div class="main">
    <!-- Main navbar-->
    <div class="main-navbar">
        <!-- Menu when appear on mobile version -->
        <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>
        <!-- Search bar -->
        <div class="search">
            <input type="text" id="searchInput" placeholder="Search........">
            <button class="search-btn" onclick="filterCard()">Search</button>
        </div>
        <!-- Profile icon on left side of navbar-->
        <div class="profile">
            <!-- User Icon -->
            <a class="user" href="#" onclick="showAdminDetails(event)">
                <ion-icon name="person-outline"></ion-icon>
            </a>
        </div>
    </div>
    <!-- Admin Details Popup -->
    <div id="adminDetailsPopup" class="adminPopup hidden">
        <div class="adminPopup-content">
            <span class="adminClose" onclick="closePopup()">&times;</span>
            <h3>Admin Details</h3>
            <p><strong>User ID:</strong> <span id="popupUserId"></span></p>
            <p><strong>First Name:</strong> <span id="popupFirstName"></span></p>
            <p><strong>Last Name:</strong> <span id="popupLastName"></span></p>
            <p><strong>Email:</strong> <span id="popupEmail"></span></p>
            <p><strong>Phone:</strong> <span id="popupPhone"></span></p>
            <p><strong>Role:</strong> <span id="popupRole"></span></p>
        </div>
    </div>

    <!-- Gallery lists -->
    <div class="product-list-wrap">
        <div class="prod-header">
            <h1>Home Gallery Contents</h1>
            <button class="add-product-btn" onclick="openModal()">Add Gallery Content</button>
        </div>

        <!-- main menus / order -->
        <div class="main-menus">
            <div class="main-detail">
                <h2 class="main-title"></h2>
                <div class="detail-wrapper">

                    <div class="detail-card" th:each="gallery : ${ImageGallery}" th:data-id="${gallery.id}"
                         th:data-heading="${gallery.headingName}">
                        <img class="detail-img" th:src="@{/admin/image/{id}(id=${gallery.imageId})}"
                             alt="Gallery Image">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4 th:text="${gallery.headingName}"></h4> <!-- Heading -->
                                <p class="detail-sub" th:text="${gallery.description}"></p> <!-- Description -->
                            </div>
                            <ion-icon class="detail-favorites" name="build-sharp" title="Edit"></ion-icon>
                            <ion-icon class="detail-delete" name="trash-bin-outline" title="Delete"
                                      th:data-id="${gallery.id}" onclick="confirmDelete(this)"></ion-icon>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</div>


<script>
    function confirmDelete(iconElement) {
        const itemId = $(iconElement).data('id');
        if (confirm('Are you sure you want to delete this item?')) {
            fetch(`/admin/delete/${itemId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    console.log('Response status:', response.status);
                    console.log('Response text:', response.statusText);

                    if (response.ok) {
                        window.location.href = '/admin/gallery1';
                    } else {
                        response.text().then(text => alert(`Failed to delete item: ${text}`));
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to delete item.');
                });
        }
    }
</script>



<!-- Access Denied Message -->
<div th:if="${accessDenied}">
    <script>
        handleAccessDenied();
    </script>
</div>

<!-- Modal for adding Gallery for home -->
<div id="productModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Add Gallery Content</h2>
        <form id="galleryForm" action="/admin/add" method="post" enctype="multipart/form-data">
            <input type="hidden" id="ImageGalleryId" name="id">
            <label for="galleryName">Heading</label>
            <input type="text" id="galleryName" name="headingName" class="form-control" required>
            <label for="galleryDescription">Description</label>
            <textarea id="galleryDescription" name="description" class="form-control" required></textarea>
            <label for="Image">Image</label>
            <input type="file" id="Image" name="image" accept="image/*" class="form-control" required>
            <img id="ImagePreview" src="" alt="Image Preview" style="max-width: 100%; height: 200px; display: none;">
            <button type="submit" class="btn btn-primary mt-3" id="submitButton">Add</button>
        </form>
    </div>
</div>

<!-- Message Modal -->
<div id="messageModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
            </div>
            <div class="modal-body">
                <p id="modalMessage">Message goes here...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Gallery Modal -->
<div id="editGalleryModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeEditGalleryModal">&times;</span>
        <h2 class="modal-title">Edit Gallery Item</h2>
        <form id="editGalleryForm" action="/admin/updateGallery" method="post" enctype="multipart/form-data">
            <input type="hidden" id="editGalleryId" name="id">

            <label for="editHeadingName">Heading:</label>
            <input type="text" id="editHeadingName" name="headingName" class="form-control" required>

            <label for="editDescription">Description:</label>
            <textarea id="editDescription" name="description" rows="4" class="form-control" required></textarea>

            <label for="editImage">Image:</label>
            <input type="file" id="editImage" name="image" accept="image/*" class="form-control" onchange="previewImage(event)">
            <img id="editImagePreview" src="#" alt="Image Preview"
                 style="max-width: 100%; height: 200px; border-radius: 4px; display: none;">

            <button type="submit" class="btn btn-primary">Update Gallery Item</button>
        </form>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script type="text/javascript" th:src="@{/js/admin.js}" src="/static/css/js/admin.js"></script>

</body>
</html>