<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="../static/css/Login.css" th:href="@{/css/Login.css}" rel="stylesheet" />
  <title>Restaurant</title>
</head>
<body>
<header>
  <a href="#" class="brand">ABC Restaurant</a>
  <div class="menu-btn"></div>
  <div class="navigation">
    <div class="navigation-items">
      <a href="user/index#home">Home</a>
      <a href="user/index#foodMenu">Menu</a>
      <a href="user/index#reservation">Reservation</a>
      <a href="user/index#services">Services</a>
      <a class="login" href="login.html" th:href="@{/login}">Login</a>
    </div>
  </div>
</header>



<div class="wrapper">
  <form th:action="@{/Register}" method="post" th:object="${User}">
    <h2>Register</h2>
    <div class="input-field">
      <input type="text" th:field="*{firstName}" pattern="[A-Za-z\s\-]+" title="Please enter a valid first name" required >
      <label>First Name</label>
    </div>
    <div class="input-field">
      <input type="text" th:field="*{lastName}" pattern="[A-Za-z\s\-]+" title="Please enter a valid last name"required>
      <label>Last Name</label>
    </div>
    <div class="input-field">
      <input type="email" th:field="*{email}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
      <label>Email</label>
    </div>
    <div class="input-field">
      <input type="text" th:field="*{phone}" pattern="\d{10,15}" title="Please enter a valid phone number with 10-15 digits" required>
      <label>Contact Number</label>
    </div>
    <div class="input-field">
      <input type="password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
             title="Password must be at least 8 characters long and include an uppercase letter, a lowercase letter, a digit, and a special character" required>
      <label>Password</label>
    </div>
    <div class="input-field">
      <input type="password" id="confirmPassword" name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
             title="Password must be at least 8 characters long and include an uppercase letter, a lowercase letter, a digit, and a special character"required>
      <label>Confirm Password</label>
    </div>
    <button type="submit">Register</button>
    <div th:if="${error}" th:text="${error}" style="color: red; margin-top: 10px;"></div>
    <div class="register">
      <p>Already have an account? <a th:href="@{/login}">Login</a></p>
    </div>

  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuBtn = document.querySelector('.menu-btn');
    const navigation = document.querySelector('.navigation');

    menuBtn.addEventListener('click', function () {
      menuBtn.classList.toggle('active');
      navigation.classList.toggle('active');
    });
  });
</script>
</body>
</html>
