<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="../static/css/Login.css" th:href="@{/css/Login.css}" rel="stylesheet" />
  <title>Restaurant</title>
</head>
<body>
<header>
  <a href="#" class="brand">Travel</a>
  <div class="menu-btn"></div>
  <div class="navigation">
    <div class="navigation-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Menu</a>
      <a href="#">Reservation</a>
      <a href="#">Services</a>
      <a class="login" href="login.html" th:href="@{/login}">Login</a>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuBtn = document.querySelector('.menu-btn');
    const navigation = document.querySelector('.navigation');

    menuBtn.addEventListener('click', function () {
      menuBtn.classList.toggle('active');
      navigation.classList.toggle('active');
    });
  });
</script>

<div class="wrapper">
  <form th:action="@{/Register}" method="post" th:object="${User}">
    <h2>Register</h2>
    <div class="input-field">
      <input type="text" th:field="*{firstName}" required>
      <label>First Name</label>
    </div>
    <div class="input-field">
      <input type="text" th:field="*{lastName}" required>
      <label>Last Name</label>
    </div>
    <div class="input-field">
      <input type="email" th:field="*{email}" required>
      <label>Email</label>
    </div>
    <div class="input-field">
      <input type="text" th:field="*{phone}" required>
      <label>Contact Number</label>
    </div>
    <div class="input-field">
      <input type="password" th:field="*{password}" required>
      <label>Password</label>
    </div>
    <div class="input-field">
      <input type="password" id="confirmPassword" name="confirmPassword" required>
      <label>Confirm Password</label>
    </div>
    <button type="submit">Register</button>
    <div th:if="${error}" th:text="${error}" style="color: red; margin-top: 10px;"></div>
    <div class="register">
      <p>Already have an account? <a th:href="@{/login}">Login</a></p>
    </div>

  </form>
</div>

</body>
</html>
